<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Necessaire pour apparaitre dans Options developpeur > Application
         de position fictive. Utilise par le pont GNSS/NMEA terrain. -->
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
</manifest>
